<h1>Q11</h1>
<h2>近くに大きな公園は必須？</h2>

<%= form_for @question, url: show12_questions_path,　method: :get do |f| %>
  <div class="form-group">
    <%= f.select :large_park, {
      '必須': 1,
      '必須ではない': 2,
    }, { include_blank: 'どちらか選択してください' }, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.submit 'NEXT', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
  
<%= link_to 'BACK', :back, class: 'btn btn-primary' %>
