<h1>結果発表</h1>











<%= @answers %>

<h2>あなたにオススメは〇〇線〇〇駅です！</h2>
<p>#Google map表示</p>

<h2>目的地までの移動時間</h2>
<p>① 〇〇分</p>
<p>② 〇〇分</p>

<h2>#必要と回答した施設情報の表示</h2>
<p>#Google map表示</p>

<%= link_to 'EXIT', pages_show_path %>