// 背景画像の挿入
.answer-page {
  margin-top: 400px;
  background-image: url("../stylesheets/images/simple_image_1.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}
.search-answers {
  background-image: url("../stylesheets/images/simple_image_1.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}
// ページが長くなる想定のページのmargin調整
.style-adjust-answer {
  margin-top: 400px;
}