// 背景画像の挿入
.back-search-station {
  background-image: url("../stylesheets/images/station_image_2.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}
// ページが長くなる想定のページのmargin調整
.style-adjust-search {
  scroll-margin-top: 100px;
}