// 背景画像の挿入
.login-page {
  background-image: url("../stylesheets/images/login_image.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}
.signup-page {
  background-image: url("../stylesheets/images/login_image.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}
.profile-page {
  background-image: url("../stylesheets/images/login_image.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}
// textのスタイル
.text-center {
  color: white;
  font-style: normal;
  font-size: medium;
  text-shadow:1px 1px 0 black, -1px -1px 0 black,
              -1px 1px 0 black, 1px -1px 0 black,
              0px 1px 0 black,  0-1px 0 black,
              -1px 0 0 black, 1px 0 0 black;
}