// 背景画像の挿入
.questions-show-6 {
  background-image: url("../stylesheets/images/coffee.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}