// 背景画像の挿入
.questions-show-12 {
  background-image: url("../stylesheets/images/sauna.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}