// 背景画像の挿入
.questions-show-3 {
  background-image: url("../stylesheets/images/destination_transit.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1.0;
}