<!--プログレスバーの部分テンプレート-->
<div class="progress" style="height: 30px;">
  <!--プログレスバーの伸縮をstyle変数、回答数の残数をtext変数にして各質問ページに差し込む-->
  <div class="progress-bar bg-info"  role="progressbar" style="<%= style %>" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
</div>
