<!--部分テンプレートで差し込む用の駅名検索フォーム-->
<h1>気になる駅の情報を見る</h1>
<%= search_form_for @q, url: answers_search_path do |f| %>
  <h3><%= f.search_field :station_name_cont, :placeholder => '駅名入力', required: true %><%= f.submit 'SEARCH', class: "btn btn-warning" %></h3>
<% end %>